{
  "importOrder": ["^@fake-coin/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSideEffects": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
